{% extends "base.html" %}

{% block content %}
<section class="projects">
    <div class="container">
        <h2>Projects</h2>
        
        <div class="project-list">
            <div class="project-item">
                <h3>Seed Counter And Leaf Evaluator</h3>
                <p>A web application for counting seeds and leaf area calculate efficiently.</p>
                <a href="https://scale-pdz6.onrender.com/" target="_blank" class="project-link">View Project</a>
            </div>
            
            <div class="project-item">
                <h3>Smart Plant Monitoring System using IoT</h3>
                <p>IoT-based system for monitoring plant health and growth conditions.</p>
            </div>
            
            <div class="project-item">
                <h3>Research Project: Leaf position and sampling point on leaf as indicators for nitrogen application</h3>
                <p>2 Years Research project focused on nitrogen application based on chlorophyll meter sufficiency index in rice.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}